*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.custom-card {
  background: #EEEEEE;
  padding: 0;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
}

.ant-card-body {
  padding: 20px !important;
}

p {
  margin-bottom: 5px;
}

.custom-icon {
  background: #E1E1E1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.ant-checkbox .ant-checkbox-inner {
  border-color: #FF8900;               
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FF8900;
  border-color: #FF8900;
}   
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
border-color: #FF8900 !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
background-color: #FF8900;
}

.ql-toolbar.ql-snow {
  margin-top: 5px;
  background: #E1E1E1;
  border-radius: 10px 10px 0 0;
  border: 2px solid #E1E1E1 !important;
}

.ql-container.ql-snow {
  height: 200px;
  border-radius: 0 0 10px 10px;
  border: 2px solid #E1E1E1 !important;
}


.sending-comment {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.receiving-comment {
  display: flex;
  margin-bottom: 15px;
}

.comment {
  padding: 10px 10px 20px 10px;
  margin: 0 10px;
}
